/.idea
# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/Persistentie 1 - Bank/target/
/Web Service/.idea/
/Encryption 1 - Signature/.idea/
/Encryption 1 - Signature/target/
/Encryption 2 - Passwords/target/
/Encryption 2 - Passwords/.idea/
/Persistentie 1 - Bank/.idea/
/Encryption 1 - Signature/INPUT(SignedByGuusHamm)
/Encryption 1 - Signature/id_rsa
/Encryption 1 - Signature/id_rsa.pub
/Encryption 1 - Signature/INPUT.ext
/Web Service/WebAuctionClient/.idea/
/Web Service/WebAuctionClient/target/
